/* ==========================================================================
   Sidebar
   ========================================================================== */

.menu {
  @include list-unstyled;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;

  @media(min-width: $large) {
    max-width: (1.3 * $sidebar-width);
  }

  &.is--visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }

  li {
    -webkit-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    transform: translateX(-1rem);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;

    &.is--moved {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

    /* line hover effect */
    a {
      position: relative;
      color: $primaryDark;

      &::before {
        display: block;
        position: absolute;
        top: 50%;
        left: -3rem;
        width: 0;
        height: 1px;
        -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.3, 1);
        transition: width 0.3s cubic-bezier(0, 0, 0.3, 1);
        background-color: $themeColor;
        content: "";
      }

      &:hover {
        color: $themeColor;
      }

      &:hover::before {
        width: 2.5rem;
      }
    }
  }

  > .inner {
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    box-sizing: border-box;
    max-width: $large;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    background-image: linear-gradient(90deg, $lightGray 0%, rgba(0, 0, 0, 0) 100%);
    overflow-x: hidden;
    -webkit-box-shadow: inset -1em 0 5em 0 rgba(0, 0, 0, 0.125);
    box-shadow: inset -1em 0 5em 0 rgba(0, 0, 0, 0.125);

    @media (min-width: $medium) {
      padding: 3rem;
    }
  }

  .menu {
    @include fluid-type($min-vw, $max-vw, 24px, 48px);
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1;

    a {
      display: block;
    }

    /* divider line */
    &::after {
      position: absolute;
      bottom: 0;
      width: 1.5em;
      height: 1px;
      background-color: $primaryDark;
      content: "";
    }

    li {
      margin-bottom: 1.5rem;
    }
  }

  /* ==========================================================================
     Contact lists
     ========================================================================== */
  .contact-list {
    @include list-unstyled;
    @include fluid-type($min-vw, $max-vw, 18px, 24px);
    margin-top: 0.5rem;
    padding-top: 0.5rem;

    .icon {
      margin-right: 0.25em;
    }

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    a {
      display: block;
      color: $primaryDark;
      text-decoration: none;
    }

    svg {
      width: 28px;
      height: 28px;
      display: inline-block;
      vertical-align: middle;
      margin-right: .625rem;
    }
  }
}

.sidebar-toggle-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: 0;
  margin: rem(3px) rem(20px) rem(3px) 0;
  padding-right: 0.5rem;
  padding-left: 0.25rem;
  background-color: $primaryDark;
  transition: top 0.5s, left 0.3s ease, background-color 0.5s, box-shadow 0.5s;
  z-index: 10000;
  border-radius: 30px;
  border-style: double;
  border-color: transparent;

  @include media(">=sm") {
    right: 5vw;
    padding-right: 1rem;
    margin: rem(7px) 0;
  }

  .toggle-inner {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .navicon {
    transition: background 0.3s;
  }
}

.sidebar-toggle-label {
  margin-left: 0.5rem;
  font-weight: bold;
  color: $texts;
}

/*
   Sidebar Pusher
   ========================================================================== */
.wrapper.is--pushed {
  transform: translateX(1 * $sidebar-width);
  transform-origin: right;

  @include media(">=sm") {
    transform: translateX(1.3 * $sidebar-width);
  }
}
