---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include sidebar-toggle.html %}
        {% include sidebar.html %}
        <div class="canvas">
            <div class="wrapper">
                {% include header.html %}
                <section class="post">
                    <article id="post" class="post-content fullwidth" role="main">
                        {{ content }}
                    </article>
                </section>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
